<!DOCTYPE html>
<html>
<head>
  <title>LairShare</title>
  <%= stylesheet_link_tag 'application', media: 'all' %>
  <link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
  <!-- <script src="//code.jquery.com/jquery-1.10.2.js"></script> -->
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
  <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDKoAy6rkH7LN5KwoNWQIIfC-QJ5IkPakc"
type="text/javascript"></script>
<link href="/assets/favicon.ico" rel="shortcut icon" type="image/x-icon" />


<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
<script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>


<script
    type="text/javascript"
    src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.10.6/moment.min.js">
  </script>




</head>
<body>


  <div id="navbar" class="navbar-collapse collapse">
    <div class="navbar-left">
      <ul>
        <li>
          <a class="logo" href="/#">
            LairShare
          </a>
        </li>


        <li>
          <a class="logo" href="/#/search/San-Francisco">
            San Francisco
          </a>
        </li>

        <li>
          <a class="logo" href="/#/search/New-York-City">
            New York
          </a>
        </li>

        <li>
          <a class="logo" href="/#/search/Saint-Martin">
            Carribean
          </a>
        </li>

      </ul>

    </div>


    <div className="navBar-right">

          <div class="signInUp">
            <% if signed_in? %>
            <div>
              <p><%= current_user.username %></p>
            </div>
            <div class="profile-pic">
              <%= image_tag("#{current_user.profile_pic}", :alt => "profile-pic") %>
              <div class="dropdown-content">
                <a href="#/users/<%= current_user.id %>">My Trips</a>
                <a href="/signout" data-method="delete" rel="nofollow">Sign out</a>
              </div>
            </div>

            <% else %>
            <div class="signed-out-container">
              <div class="signin-signout">
                <div class="sign-in-button">
                  <%= link_to "Sign In", new_session_url %>
                </div>
                <div class="sign-out-button">
                  <%= link_to "Sign Up", new_user_url %>
                </div>
                <div class="demo-container">
                  <form action="<%= session_url %>" method="post">
                    <input type="hidden" name="user[username]" value="Juggernaut">
                    <input type="hidden" name="user[password]" value="qweasd">

                    <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
                    <button type="submit" class="demo_user_button">Demo User</button>

                  </form>
                </div>
              </div>
            </div>

            <% end %>

          </div>



    </div>



  </div>



<%= yield %>

</body>
</html>









<!-- <div class="demo-button">
  <form action="<%= session_url %>" method="post">
    <input type="hidden" name="user[username]" value="Juggernaut">
    <input type="hidden" name="user[password]" value="qweasd">

    <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
    <button type="submit" class="demo_user_button">Demo User</button>
  </form>
</div> -->
