<!DOCTYPE html>
<html>
<head>
  <title>LairShare</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
  <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDKoAy6rkH7LN5KwoNWQIIfC-QJ5IkPakc"
type="text/javascript"></script>



<link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
<script src="//code.jquery.com/jquery-1.10.2.js"></script>
<script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>

<script
    type="text/javascript"
    src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.10.6/moment.min.js">
  </script>
  <script
    type="text/javascript"
    src="//cdn.jsdelivr.net/bootstrap.daterangepicker/2/daterangepicker.js">
  </script>
  <link
    rel="stylesheet"
    type="text/css"
    href="//cdn.jsdelivr.net/bootstrap.daterangepicker/2/daterangepicker.css">
  </link>



</head>
<body>





  <%= button_to 'Rooms', '/#/rooms', method: :get%>
  <% if signed_in? %>
  Hello, <%= current_user.username %>
  <%= button_to "Sign Out", session_url, :method => :delete %>
<% else %>
  <%= link_to "Sign In", new_session_url %>
  <%= link_to "Sign Up", new_user_url %>
<% end %>


<%= yield %>

</body>
</html>
